[submodule "labs/lab-01-jeffTheLandShark"]
	path = labs/lab-01/
	url = https://github.com/msoecsse/lab-01-jeffTheLandShark.git
[submodule "prob_sets/problem-set-linear-algebra-review-jeffTheLandShark"]
	path = prob_sets/lin-alg-review
	url = https://github.com/msoecsse/problem-set-linear-algebra-review-jeffTheLandShark.git
[submodule "labs/lab-02-jeffTheLandShark"]
	path = labs/lab-02/
	url = https://github.com/msoecsse/lab-02-jeffTheLandShark.git
[submodule "labs/lab-02"]
	path = labs/lab-02
	url = https://github.com/msoecsse/lab-02-jeffTheLandShark.git
[submodule "labs/lab-01"]
	path = labs/lab-01
	url = https://github.com/msoecsse/lab-01-jeffTheLandShark.git
[submodule "labs/lab-03-jeffTheLandShark"]
	path = labs/lab-03
	url = https://github.com/msoecsse/lab-03-jeffTheLandShark.git
[submodule "prob_sets/problem-set-decision-boundaries-jeffTheLandShark"]
	path = prob_sets/decision-boundaries
	url = https://github.com/msoecsse/problem-set-decision-boundaries-jeffTheLandShark.git
[submodule "labs/lab-04-jeffTheLandShark"]
	path = labs/lab-04
	url = https://github.com/msoecsse/lab-04-jeffTheLandShark.git
[submodule "prob_sets/problem-set-bias-variance-and-knn-jeffTheLandShark"]
	path = prob_sets/bias-variance-knn
	url = https://github.com/msoecsse/problem-set-bias-variance-and-knn-jeffTheLandShark.git
[submodule "labs/lab-05-jeffTheLandShark"]
	path = labs/lab-05
	url = https://github.com/msoecsse/lab-05-jeffTheLandShark.git
[submodule "prob_sets/problem-set-logistic-regression-jeffTheLandShark"]
	path = prob_sets/logit-regression
	url = https://github.com/msoecsse/problem-set-logistic-regression-jeffTheLandShark.git
[submodule "prob_sets/problem-set-decision-trees-and-logistic-regression-jeffTheLandShark"]
	path = prob_sets/problem-set-decision-trees-and-logistic-regression-jeffTheLandShark
	url = git@github.com:msoecsse/problem-set-decision-trees-and-logistic-regression-jeffTheLandShark.git
[submodule "prob_sets/problem-set-support-vector-machines-jeffTheLandShark"]
	path = prob_sets/problem-set-support-vector-machines-jeffTheLandShark
	url = git@github.com:msoecsse/problem-set-support-vector-machines-jeffTheLandShark.git
