[submodule "labs/lab-01-jeffTheLandShark"]
	path = labs/lab-01/
	url = https://github.com/msoecsse/lab-01-jeffTheLandShark.git
[submodule "prob_sets/problem-set-linear-algebra-review-jeffTheLandShark"]
	path = prob_sets/lin-alg-review
	url = https://github.com/msoecsse/problem-set-linear-algebra-review-jeffTheLandShark.git
[submodule "labs/lab-02-jeffTheLandShark"]
	path = labs/lab-02/
	url = https://github.com/msoecsse/lab-02-jeffTheLandShark.git
[submodule "labs/lab-02"]
	path = labs/lab-02
	url = https://github.com/msoecsse/lab-02-jeffTheLandShark.git
[submodule "labs/lab-01"]
	path = labs/lab-01
	url = https://github.com/msoecsse/lab-01-jeffTheLandShark.git
[submodule "labs/lab-03-jeffTheLandShark"]
	path = labs/lab-03
	url = https://github.com/msoecsse/lab-03-jeffTheLandShark.git
[submodule "prob_sets/problem-set-decision-boundaries-jeffTheLandShark"]
	path = prob_sets/decision-boundaries
	url = https://github.com/msoecsse/problem-set-decision-boundaries-jeffTheLandShark.git
[submodule "labs/lab-04-jeffTheLandShark"]
	path = labs/lab-04
	url = https://github.com/msoecsse/lab-04-jeffTheLandShark.git
[submodule "prob_sets/problem-set-bias-variance-and-knn-jeffTheLandShark"]
	path = prob_sets/bias-variance-knn
	url = https://github.com/msoecsse/problem-set-bias-variance-and-knn-jeffTheLandShark.git
[submodule "labs/lab-05-jeffTheLandShark"]
	path = labs/lab-05
	url = https://github.com/msoecsse/lab-05-jeffTheLandShark.git
[submodule "prob_sets/problem-set-logistic-regression-jeffTheLandShark"]
	path = prob_sets/logit-regression
	url = https://github.com/msoecsse/problem-set-logistic-regression-jeffTheLandShark.git
[submodule "prob_sets/problem-set-decision-trees-and-logistic-regression-jeffTheLandShark"]
	path = prob_sets/decision-trees-and-logistic-regression
	url = git@github.com:msoecsse/problem-set-decision-trees-and-logistic-regression-jeffTheLandShark.git
[submodule "prob_sets/problem-set-support-vector-machines-jeffTheLandShark"]
	path = prob_sets/support-vector-machines
	url = git@github.com:msoecsse/problem-set-support-vector-machines-jeffTheLandShark.git
[submodule "labs/lab-06-jeffTheLandShark"]
	path = labs/lab-06
	url = git@github.com:msoecsse/lab-06-jeffTheLandShark.git
[submodule "prob_sets/problem-set-calculus-review-jeffTheLandShark"]
	path = prob_sets/calc-review
	url = git@github.com:msoecsse/problem-set-calculus-review-jeffTheLandShark.git
[submodule "term_proj/Isolation-Forest"]
	path = term_proj/Isolation-Forest
	url = git@github.com:jeffTheLandShark/Isolation-Forest.git
[submodule "labs/lab-07-jeffTheLandShark"]
	path = labs/lab-07
	url = git@github.com:msoecsse/lab-07-jeffTheLandShark.git
[submodule "labs/lab-08-jeffTheLandShark"]
	path = labs/lab-08
	url = git@github.com:msoecsse/lab-08-jeffTheLandShark.git
[submodule "prob_sets/problem-set-cost-function-fun-jeffTheLandShark"]
	path = prob_sets/problem-set-cost-function-fun-jeffTheLandShark
	url = git@github.com:msoecsse/problem-set-cost-function-fun-jeffTheLandShark.git
