[submodule "labs/lab-01-jeffTheLandShark"]
	path = labs/lab-01/
	url = https://github.com/msoecsse/lab-01-jeffTheLandShark.git
[submodule "prob_sets/problem-set-linear-algebra-review-jeffTheLandShark"]
	path = prob_sets/lin-alg-review
	url = https://github.com/msoecsse/problem-set-linear-algebra-review-jeffTheLandShark.git
[submodule "labs/lab-02-jeffTheLandShark"]
	path = labs/lab-02/
	url = https://github.com/msoecsse/lab-02-jeffTheLandShark.git
[submodule "labs/lab-02"]
	path = labs/lab-02
	url = https://github.com/msoecsse/lab-02-jeffTheLandShark.git
[submodule "labs/lab-01"]
	path = labs/lab-01
	url = https://github.com/msoecsse/lab-01-jeffTheLandShark.git
[submodule "labs/lab-03-jeffTheLandShark"]
	path = labs/lab-03
	url = https://github.com/msoecsse/lab-03-jeffTheLandShark.git
[submodule "prob_sets/problem-set-decision-boundaries-jeffTheLandShark"]
	path = prob_sets/problem-set-decision-boundaries-jeffTheLandShark
	url = https://github.com/msoecsse/problem-set-decision-boundaries-jeffTheLandShark.git
